# Transform

In [1]:
from glob import glob
import pandas as pd

In [2]:
glob('../data/*.csv')

['../data\\cases.csv',
 '../data\\cluster.csv',
 '../data\\cluster_transformed.csv',
 '../data\\mysj.csv',
 '../data\\population.csv',
 '../data\\states.csv',
 '../data\\tests.csv',
 '../data\\vaccine.csv']

In [3]:
df_cases = pd.read_csv('../data\\cases.csv', index_col=0)
df_mysj = pd.read_csv('../data\\mysj.csv', index_col=0)
df_vaccine = pd.read_csv('../data\\vaccine.csv', index_col=0)
df_population = pd.read_csv('../data\\population.csv', index_col=0)

In [4]:
df_cases

,date,cases_new,cases_import,cases_recovered,cases_death,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,cases_child,cases_adolescent,cases_adult,cases_elderly,state_id
id,,,,,,,,,,,,,,,,
1,2020-01-25,4,4,0,0,4,0,4,0,0,0,0,0,1,0,1
2,2020-01-26,0,0,0,0,4,0,0,0,0,0,0,0,0,0,1
3,2020-01-27,0,0,0,0,4,0,0,0,0,0,0,0,0,0,1
4,2020-01-28,0,0,0,0,4,0,0,0,0,0,0,0,0,0,1
5,2020-01-29,3,3,0,0,7,0,3,0,0,0,1,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11930,2021-12-26,676,13,941,0,12125,4,153,2,491,30,102,21,495,58,11
11931,2021-12-26,164,15,83,5,2534,0,35,3,120,6,25,6,102,31,12
11932,2021-12-26,135,12,198,1,3419,1,29,1,95,10,19,5,98,13,15
11933,2021-12-26,6,2,12,0,56,0,1,1,3,1,1,1,4,0,16
11934,2021-12-26,18,3,14,0,429,0,6,0,9,3,6,0,8,4,17

In [5]:
df_cases = df_cases[['date', 'cases_new', 'state_id', 'cases_recovered', 'cases_death', 'cases_active']]

In [6]:
df_mysj

,date,checkins,unique_ind,unique_loc,checkins_to_ind_ratio,state_id,checkins_to_unique_loc_ratio
id,,,,,,,
1,2020-12-01,17492265,6614474,630363,2.644544,1,27.749511
2,2020-12-02,17695726,6667261,648752,2.654122,1,27.276565
3,2020-12-03,17063123,6549583,645604,2.605223,1,26.429705
4,2020-12-04,18350879,6803979,622383,2.697080,1,29.484865
5,2020-12-05,19711082,6845366,573132,2.879478,1,34.391871
...,...,...,...,...,...,...,...
6626,2021-12-25,7272213,3243895,116141,2.241815,11,62.615381
6627,2021-12-25,496077,260964,16498,1.900940,12,30.068917
6628,2021-12-25,5404399,2379561,63345,2.271175,15,85.316900
6629,2021-12-25,71513,28947,1273,2.470481,16,56.176748
6630,2021-12-25,279119,168436,1662,1.657122,17,167.941637

In [7]:
df_mysj = df_mysj[['date', 'state_id', 'checkins', 'unique_ind']]

In [8]:
df_vaccine

,date,daily_partial,daily_full,daily,daily_partial_child,daily_full_child,daily_booster,cumul_partial,cumul_full,cumul,...,astra3,sinopharm1,sinopharm2,sinopharm3,cansino,cansino3,pending1,pending2,pending3,state_id
id,,,,,,,,,,,,,,,,,,,,,
1,2021-02-24,62,3,65,0,0,0,62,3,65,...,0,0,0,0,0,0,1,0,0,1
2,2021-02-25,1149,2,1151,0,0,0,1211,5,1216,...,0,0,0,0,0,0,2,0,0,1
3,2021-02-26,4066,3,4069,0,0,0,5277,8,5285,...,0,0,0,0,0,0,7,0,0,1
4,2021-02-27,6711,6,6717,0,0,0,11988,14,12002,...,0,0,0,0,0,0,18,0,0,1
5,2021-02-28,6712,5,6717,0,0,0,18700,19,18719,...,0,0,0,0,0,0,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198,2021-12-26,181,363,19528,47,112,18984,4835219,4760340,10758176,...,0,9,23,0,0,0,2,3,84,11
5199,2021-12-26,17,27,2219,6,3,2175,891373,877264,1878595,...,106,0,0,0,0,0,0,1,6,12
5200,2021-12-26,57,103,7553,10,13,7393,3053234,3019867,6716090,...,816,1,2,14,0,0,0,0,36,15
5201,2021-12-26,0,0,1,0,0,1,82762,79555,177504,...,0,0,0,0,0,0,0,0,0,16
5202,2021-12-26,1,3,430,1,0,426,149746,146272,330085,...,0,0,1,0,0,0,0,0,1,17

In [9]:
df_vaccine = df_vaccine[['date', 'state_id', 'cumul_full']]

In [10]:
df_population = df_population[['state_id', 'pop']]
df_population

                   state_id       pop
state
Malaysia                  1  32657400
Johor                     2   3781000
Kedah                     3   2185100
Kelantan                  4   1906700
Melaka                    5    932700
Negeri Sembilan           6   1128800
Pahang                    7   1678700
Pulau Pinang              8   1773600
Perak                     9   2510300
Perlis                   10    254900
Selangor                 11   6538000
Terengganu               12   1259300
Sabah                    13   3908500
Sarawak                  14   2816500
W.P. Kuala Lumpur        15   1773700
W.P. Labuan              16     99600
W.P. Putrajaya           17    110000

In [11]:
df_vaccine = pd.merge(df_vaccine, df_population, on=['state_id'])
df_vaccine['percent_vax'] = round(df_vaccine['cumul_full']/df_vaccine['pop'],2)

In [12]:
df_vaccine

            date  state_id  cumul_full       pop  percent_vax
0     2021-02-24         1           3  32657400         0.00
1     2021-02-25         1           5  32657400         0.00
2     2021-02-26         1           8  32657400         0.00
3     2021-02-27         1          14  32657400         0.00
4     2021-02-28         1          19  32657400         0.00
...          ...       ...         ...       ...          ...
5197  2021-12-22        17      146230    110000         1.33
5198  2021-12-23        17      146247    110000         1.33
5199  2021-12-24        17      146269    110000         1.33
5200  2021-12-25        17      146269    110000         1.33
5201  2021-12-26        17      146272    110000         1.33

[5202 rows x 5 columns]

In [13]:
df_train = pd.merge(df_cases, df_mysj, on=['date', 'state_id'])
df_train = pd.merge(df_train, df_vaccine, on=['date', 'state_id'])
df_train

,date,cases_new,state_id,cases_recovered,cases_death,cases_active,checkins,unique_ind,cumul_full,pop,percent_vax
0,2021-02-24,3545,1,3331,12,30572,19689234,7518288,3,32657400,0.00
1,2021-02-25,1924,1,3752,13,28738,20130990,7666194,5,32657400,0.00
2,2021-02-26,2253,1,3085,10,27903,20975140,7806991,8,32657400,0.00
3,2021-02-27,2364,1,3320,10,26937,22978495,7891208,14,32657400,0.00
4,2021-02-28,2437,1,3251,9,26118,22162834,7669665,19,32657400,0.00
...,...,...,...,...,...,...,...,...,...,...,...
5180,2021-12-25,802,11,1151,6,12390,7272213,3243895,4759977,6538000,0.73
5181,2021-12-25,183,12,111,1,2453,496077,260964,877237,1259300,0.70
5182,2021-12-25,159,15,326,2,3482,5404399,2379561,3019764,1773700,1.70
5183,2021-12-25,2,16,10,0,62,71513,28947,79555,99600,0.80
5184,2021-12-25,29,17,28,0,425,279119,168436,146269,110000,1.33

In [14]:
df_train.to_csv('train.csv')